// Add here all styles needed to import only this file

@import "_colors.scss";
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf");
}

html,
body {
  font-family: Montserrat;
}
