// Add here all styles needed to import only this file

@import "_colors.scss";
@import "_mixins.scss";

$theme-colors: (
  "primary": $primary-color,
);

@import "~bootstrap/scss/bootstrap";

$material-icons-font-path: "~material-icons/iconfont/";
@import "~material-icons/iconfont/material-icons.scss";

html,
body {
  font-family: "Montserrat", sans-serif;
}
