@mixin dots-transition {
  transition: 0.3s ease-in-out !important;
}

$border-radius-size: 5px;
// $box-shadow-effect: 0 8px 16px 0 rgba(33, 37, 41, 0.2);

$box-shadow-effect: 1px 4px 6px 1px rgba(33, 37, 41, 0.2);
