@import "_main.scss";

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.form-control {
  background-color: $pale-gray !important;
  border-radius: $border-radius-size !important;
  box-shadow: $box-shadow-effect !important;
  border-color: $pale-gray !important;
  @include dots-transition();

  &:focus {
    background-color: $contrast-color !important;
    border-color: $primary-color !important;
    box-shadow: $box-shadow-effect !important;
  }

  &:hover:not(:focus) {
    border-color: $gray !important;
    box-shadow: $box-shadow-effect !important;
  }
}
.section-colored {
  .form-control:focus {
    border-color: $black !important;
  }
}

textarea {
  resize: none !important;
}
