@import "_main.scss";

.navbar.navbar-dots {
  background-color: rgba(33, 37, 41, 0.7) !important;
  transform: translateY(-75px);
  @include dots-transition;

  .nav-link {
    font-size: 20px;
    color: $contrast-color !important;
    @include dots-transition;

    &:hover {
      color: $primary-color !important;
    }
  }
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

// Nav and pills
@media (max-width: 768px) {
  .nav-pills {
    justify-content: center;
    flex-direction: column;

    .nav-item {
      margin-right: 0px !important;

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
  }
}

.nav-pills {
  justify-content: center;
  margin-top: 50px;

  .nav-item {
    &:not(:last-of-type) {
      margin-right: 50px;
    }

    .nav-link {
      color: $black;
      border: 1px solid $primary-color;
      @include dots-transition;

      &:hover:not(.active) {
        color: $primary-color;
      }

      &.active {
        background-color: $primary-color;
      }
    }
  }
}

.tab-content {
  margin-top: 50px;
}
