@import "_main.scss";

.parallax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/hero.png");
  margin: 0;
  border-radius: 0;
}

.section {
  padding: 50px 0px;
  text-align: center;

  .section-header {
    border-bottom: 3px solid $primary-color;
  }

  .title {
    font-size: 50px;
    padding-bottom: 50px;

    .title-highlight {
      font-weight: bold;
      color: $primary-color;
    }
  }

  .description {
    font-size: 22px;
    line-height: normal;
    padding-bottom: 50px;
  }
}

.section-colored {
  background-color: $primary-color;

  .section-header {
    border-bottom: 3px solid $contrast-color;
  }

  .title {
    color: $contrast-color;
  }

  .description {
    color: $contrast-color;
  }

  .copyright {
    color: $contrast-color;
    font-size: 22px;
    line-height: normal;
    font-style: italic;
  }
}

.section-our-services {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/our-services.png");
}

.section-how-we-do {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/how-we-do.png");
}

.tile {
  margin: 50px 0;

  .tile-text {
    color: $primary-color;
    font-size: 70px;
    font-weight: bold;
  }

  .tile-image {
    margin: 0 0 40px 0;
  }

  .tile-title {
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 40px 0;
  }

  .tile-description {
    font-size: 22px;
    line-height: normal;
  }
}

.img-effect {
  border-radius: $border-radius-size;
  filter: grayscale(1);
  @include react-transition;

  &:hover {
    cursor: pointer;
    filter: grayscale(0);
  }
}

::-moz-selection {
  background: $primary-color;
  color: $contrast-color;
}

::selection {
  background: $primary-color;
  color: $contrast-color;
}

// React card
.react-card {
  color: $contrast-color;
  background-color: $primary-color;
  border-radius: $border-radius-size;
  margin-top: 100px;
  padding: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

  .react-card-image {
    img {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      width: 300px;
      margin-top: -50px;
      border-radius: $border-radius-size;
    }
  }

  .react-card-title {
    margin-top: 20px;
    font-weight: bold;
  }

  .react-card-subtitle {
    color: $gray;
    font-style: italic;
  }

  .react-card-description {
    padding-top: 20px;
    line-height: normal;
  }

  .react-card-body {
  }
}
