@import "_main.scss";

.parallax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/hero.png");
  margin: 0;
  border-radius: 0;
  animation: fade 2s ease-in-out;
}

@keyframes fade {
  0% {
    filter: grayscale(1);
    opacity: 0;
  }
  100% {
    filter: grayscale(0);
    opacity: 1;
  }
}

.section {
  padding: 50px 0px;
  text-align: center;

  .section-header {
    border-bottom: 3px solid $primary-color;
  }

  .title {
    font-size: 50px;
    padding-bottom: 50px;

    .title-highlight {
      font-weight: bold;
      color: $primary-color;
    }
  }

  .description {
    font-size: 22px;
    line-height: normal;
    padding-bottom: 50px;
  }
}

.section-colored {
  background-color: $primary-color;

  .section-header {
    border-bottom: 3px solid $contrast-color;
  }

  .title {
    color: $contrast-color;
  }

  .description {
    color: $contrast-color;
  }

  hr {
    border-color: $contrast-color;
  }
}

.section-our-services {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/our-services.png");
}

.section-how-we-do {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/how-we-do.png");
}

.tile {
  margin: 50px 0;

  .tile-text {
    color: $primary-color;
    font-size: 70px;
    font-weight: bold;
  }

  .tile-image {
    margin: 0 0 40px 0;
  }

  .tile-title {
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 40px 0;
  }

  .tile-description {
    font-size: 22px;
    line-height: normal;
  }

  .tile-highlight {
    font-weight: bold;
    color: $primary-color;
  }
}

.img-effect {
  border-radius: $border-radius-size;
  filter: grayscale(1);
  @include dots-transition;

  &:hover {
    cursor: pointer;
    filter: grayscale(0);
  }
}

::-moz-selection {
  background: $primary-color;
  color: $contrast-color;
}

::selection {
  background: $primary-color;
  color: $contrast-color;
}

.social-link {
  color: $primary-color;
  text-decoration: none;
  @include dots-transition;
  margin-left: 5px;

  &:not(:last-of-type) {
    margin-right: 5px;
  }

  &:hover {
    color: $primary-color;
  }
}

.contact-link {
  display: block;
  color: $contrast-color;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 10px;
  @include dots-transition;

  &:hover {
    color: $contrast-color;
    text-decoration: none;
  }
}

.see-more {
  @include dots-transition;
  .fa-angle-double-left,
  .fa-angle-double-right {
    @include dots-transition;
    visibility: hidden;
    opacity: 0;
  }

  &:hover {
    .fa-angle-double-left,
    .fa-angle-double-right {
      visibility: visible;
      opacity: 1;
    }
  }
}

// Dots card
.dots-card {
  color: $contrast-color;
  background-color: $primary-color;
  border-radius: $border-radius-size;
  margin-top: 100px;
  padding: 20px;
  box-shadow: $box-shadow-effect;

  .dots-card-image {
    img {
      box-shadow: $box-shadow-effect;
      width: 300px;
      margin-top: -50px;
      border-radius: $border-radius-size;
    }
  }

  .dots-card-title {
    margin-top: 20px;
    font-weight: bold;
  }

  .dots-card-subtitle {
    font-style: italic;
  }

  .dots-card-description {
    padding-top: 20px;
    line-height: normal;
  }

  .dots-card-body {
    .social-link {
      color: $contrast-color;
      text-decoration: none;
      padding-bottom: 5px;
      margin-left: 0;
      @include dots-transition;

      &:not(:last-of-type) {
        margin-right: 10px;
      }

      &:hover {
        box-shadow: inset 0 -1px 0 0 $contrast-color;
      }
    }
  }
}

// Text
.dots-text-primary {
  color: $primary-color;
}

.map-container {
  border-radius: $border-radius-size;
  height: calc(100% - 1rem);
  width: 100%;
}

@media (max-width: 768px) {
  footer.section {
    padding: 20px 0;
  }

  .scroll-to-top {
    display: none;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 0px;
  right: 30px;
  z-index: 99;
  background-color: $black;
  color: $contrast-color;
  cursor: pointer;
  padding: 10px 15px;
  border-top-left-radius: $border-radius-size;
  border-top-right-radius: $border-radius-size;
  text-transform: none;
  @include dots-transition;
}

@media (hover: hover) {
  .scroll-to-top:hover {
    box-shadow: $box-shadow-effect;
    text-transform: none;
    color: $primary-color;
  }
}
